/*
 * Globals
 */
/* line 24, ../sass/main.scss */
h3, .nav {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

/* line 32, ../sass/main.scss */
thead {
  background-color: #FA6900;
  color: #f2f2f2;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

/* line 39, ../sass/main.scss */
.table {
  background-color: #fff;
}

/* Links */
/* line 48, ../sass/main.scss */
a,
a:focus,
a:hover {
  color: #A7DBD8;
}

/* Custom default button */
/* line 55, ../sass/main.scss */
.btn-default,
.btn-default:focus {
  color: #f2f2f2;
  text-shadow: none;
  /* Prevent inheritence from `body` */
  background-color: #A7DBD8;
  border: none;
  border-radius: none;
}

/* line 64, ../sass/main.scss */
.btn-default:hover {
  background-color: #E0E4CC;
  color: white;
  border: none;
}

/*
 * Base structure
 */
/* line 77, ../sass/main.scss */
html,
body {
  background-color: #f2f2f2;
}

/* line 81, ../sass/main.scss */
body {
  color: #FA6900;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
/* line 90, ../sass/main.scss */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
}

/* line 96, ../sass/main.scss */
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

/* line 100, ../sass/main.scss */
.cover-container {
  margin-left: auto;
  margin-right: auto;
}

/* Padding for spacing */
/* line 106, ../sass/main.scss */
.inner {
  padding: 30px;
}

/*
 * Header
 */
/* line 114, ../sass/main.scss */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 119, ../sass/main.scss */
.masthead-nav > li {
  display: inline-block;
}

/* line 122, ../sass/main.scss */
.masthead-nav > li + li {
  margin-left: 20px;
}

/* line 125, ../sass/main.scss */
.masthead-nav > li > a {
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: bold;
  color: #FA6900;
  /* IE8 proofing */
  color: #FA6900;
  border-bottom: 2px solid transparent;
}

/* line 134, ../sass/main.scss */
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

/* line 139, ../sass/main.scss */
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #FA6900;
  border-bottom-color: #FA6900;
}

@media (min-width: 768px) {
  /* line 147, ../sass/main.scss */
  .masthead-brand {
    float: left;
  }

  /* line 150, ../sass/main.scss */
  .masthead-nav {
    float: right;
  }
}
/*
 * Cover
 */
/* line 160, ../sass/main.scss */
.cover {
  padding: 0 20px;
}

/* line 163, ../sass/main.scss */
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Footer
 */
/* line 173, ../sass/main.scss */
.mastfoot {
  color: #FA6900;
  /* IE8 proofing */
  color: #FA6900;
}

/*
 * Affix and center
 */
@media (min-width: 768px) {
  /* Pull out the header and footer */
  /* line 185, ../sass/main.scss */
  .masthead {
    top: 0;
  }

  /* line 189, ../sass/main.scss */
  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Start the vertical centering */
  /* line 194, ../sass/main.scss */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* Handle the widths */
  /* line 198, ../sass/main.scss */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */
  }
}
@media (min-width: 992px) {
  /* line 206, ../sass/main.scss */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 960px;
  }
}
